<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>podoController</servlet-name>
        <servlet-class>controller.podoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadServlet</servlet-name>
        <servlet-class>controller.downloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewList</servlet-name>
        <servlet-class>controller.ViewList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeetingController</servlet-name>
        <servlet-class>controller.MeetingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegController</servlet-name>
        <servlet-class>controller.RegController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>podoController</servlet-name>
        <url-pattern>/podoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadServlet</servlet-name>
        <url-pattern>/downloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeetingController</servlet-name>
        <url-pattern>/MeetingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegController</servlet-name>
        <url-pattern>/RegController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
